body {
  margin: auto;
  width: 80%;
  height: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  zoom: 2;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 10%;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  border-radius: 25px;
  background: #A3D5FF;
  padding: 20px;
}

.centralize {
  text-align: center;
}

.big {
  font-size: 2em;
}

.small {
  font-size: 0.8em;
}

.smaller {
  font-size: 0.6em;
}

.footer {
  font-style: italic;
  font-size: 0.4em;
}

.right {
 color: green;
}

.wrong {
 color: red;
}

.visible {
  display: visible;
}

.invisible {
  display: none;
}
