body { 
  width: 620px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%); 
}

img {
  width: 580px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.template {
  border-radius: 25px;
}

.container {
  position: relative;
  color: white;
}

#name {
  position: absolute;
  font-size: 1em;
  top: 170px;
  left: 328px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px;
}

#course {
  position: absolute;
  font-size: 1em;
  top: 220px;
  left: 328px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px;
}

#ra {
  position: absolute;
  font-size: 1em;
  top: 270px;
  left: 328px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px;
}

#validade {
  position: absolute;
  font-size: 0.8em;
  top: 300px;
  left: 50px;
}

#validade_desc {
  position: absolute;
  font-size: 0.6em;
  top: 316px;
  left: 50px;
}

#photo {
  position: absolute;
  top: 130px;
  left: 50px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#qr {
  position: absolute;
  top: 190px;
  left: 236px;
  width: 60px;
}

#expire {
  position: absolute;
  top: 126px;
  left: 180px;
  width: 60px;
}
